.title-fade
{
	animation-duration: 0.4s;
/* animation-duration: 1s; */
	animation-name: title-fade;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	margin-top: 25vh;
	text-align: center;
	width: 100%;
}

@keyframes title-fade
{
	from
	{
		opacity: 1;
		font-size: 100px;
	}

	to
	{
		opacity: 0;
		font-size: 30px;
	}
}