.title-animation
{
	animation-duration: 0.4s;
	animation-name: title-animation;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	margin-top: 25vh;
	text-align: center;
	width: 100%;
}

@keyframes title-animation
{
	from
	{
		opacity: 1;
		font-size: 100px;
	}

	to
	{
		opacity: 0;
		font-size: 30px;
	}
}

section
{
	margin-top: 30px;
}

section:first-child
{
	margin-top: 0px;
}

section#name-section input
{
	margin-bottom: 10px;
	padding: var(--button-padding);
	width: 100%;
}
