*
{   box-sizing: border-box;
}

:root
{   --font-family: sans-serif;
    --header-bg-color: blue;
    --header-brd-color: darkblue;
    --header-color: white;
    --header-font: sans-serif;
}

body
{   color: black;
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

header
{   background: var(--header-bg-color);
    border: 2px solid var(--header-brd-color);
    font-family: var(--header-font);
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

#button-div
{   background: rgba(255, 255, 0, 0.5);
    height: auto;
    margin: 0px auto;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 10px;
    min-width: 200px;
    width: auto;
}

.button
{   background: white;
    border: 2px solid lightblue;
    border-radius: 3px;
    color: lightblue;
    font-family: sans-serif;
    font-size: 12px;
    margin-right: 2px;
    padding: 5px;
}

main
{   background: rgba(255, 0, 0, 0.5);
}

section
{   background: rgba(0, 255, 0, 0.5);
    margin-bottom: 10px;
}

#recent-messages
{   border: 2px solid lightblue;
    border-radius: 3px;
    /* padding: 10px; */
}

.div-heading
{   background: lightblue;
    padding: 5px;
}

.messages
{   min-height: 30px;
    padding: 5px;
}

/*                                  */
/* style specific to sticky footer  */
/*                                  */

body, html
{   height: 100%;
}

.wrapper
{   background: rgba(0, 255, 255, 0.5);
    height: auto;
    margin-bottom: -43px;
    min-height: 100%;
    padding: 10px;
}

.push
{   background: yellow;
    height: 43px;
}

footer
{   background: var(--header-bg-color);
    border: 1px solid var(--head-brd-color);
    border-radius: 2px;
    font-size: 10px;
    margin: 10px;
    padding: 5px;
}