body
{
	background-color: #cfcfff;
}

#sticky-wrapper
{
	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		/* justify-content: space-between; */
}

main
{
	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		/* justify-content: space-between; */
	flex-grow: 1;
	flex-shrink: 0;
	height: 100%;
		min-height: 100%;
	margin-bottom: 42px;
	padding-top: 20px;
}

#results-section
{
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		/* justify-content: space-between; */
	margin-bottom: 10px;
	width: 100%;
}

#results-section div:first-child,
#results-section div:last-child
{
	flex-grow: 1;
	flex-shrink: 0;
}

/* #results-section span */
/* { */
	/* display: inline-block; */
	/* margin-left: 10px; */
	/* width: 25px; */
/* } */

#player-name,
#player-wins
{
	width: 100%;
}

#player-ties
{
	width: 100px;
	text-align: center;
}

#opponent-name,
#player-losses
{
	/* flex-grow: 1; */
	text-align: right;
	width: 100%;
}

section#button-section
{
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0px auto;
}

@media screen and (max-width: 400px)
{
	main
	{
		width: 95%;
	}
}

.button-wrapper
{
	height: auto;
	width: 30%;
}

.button-wrapper button
{
	border: none;
	border-radius: 10%;
}

.button-wrapper img
{
	height: 100%;
	width: 100%;
}

#rock:hover
{
	content: url("../images/rock-black.svg");
}

#paper:hover
{
	content: url("../images/paper-black.svg");
}

#scissors:hover
{
	content: url("../images/scissors-black.svg");
}

.button-wrapper .text
{
	margin-top: 5px;
	text-align: center;
}

section#message-section
{
	flex-grow: 1;
	flex-shrink: 0;
	height: 20%;
	margin-top: 30px;
}

section#message-section.flex-box
{	/*	Because I use an id (#message-section) to reference this element, I can't override the display property		*/
	/*	with a class.  In fact, I can't even override another class because the element has an id.  So it seems to	*/
	/*	dynamically hide / display this element, I can have no display property in any CSS rule applied to the		*/
	/*	element and that means I can have no display property in the rule applied to the element.  The flex-box		*/
	/*	configuration nust in be a dynamically assigned class as well.												*/

	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
}

div#messages
{
	background-color: white;
	border: 2px solid #00008f;
	border-radius: 10px;
	flex-grow: 1;
	flex-shrink: 0;
	overflow: clip;
	height: 100px;
	width: 100%;
}

div#input
{
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: 10px;
	width: 100%;
}

div#input *
{
	flex-grow: 0;
	flex-shrink: 0;
}

div#input input
{
	border: 1px solid #00008f;
	border-radius: var(--button-padding);
	flex-grow: 1;
	flex-shrink: 1;
	margin-right: 30px;
}
